@import 'toastr';

.toast {
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border: none !important;
	border-radius: 6px !important;
}

.loading-spinner {
	height: calc(3vw + 60px);
	width: calc(3vw + 60px);
	font-size: calc(2vw + 30px);
}

.loading-spinner-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

textarea {
	resize: none;
}

.modal-body p,
ul {
	margin-bottom: 7px;
}

.no-wrap {
	white-space: nowrap;
}

.accounts-info {
	cursor: pointer;
	font-size: 20px;
}

.switch-size {
	width: 42px !important;
	height: 21px;
}

.spinner-size {
	width: 21px;
	height: 21px;
}

@media (min-width: 275px) {
	.generated-image {
		max-width: 118px;
	}

  .small-text {
    font-size: 1.3rem !important;
  }
}

@media (min-width: 340px) {
	.generated-image {
		max-width: 145px;
	}
}

@media (min-width: 430px) {
	.generated-image {
		max-width: 195px;
	}
	.accounts-info {
		font-size: 25px;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

  .small-text {
    font-size: 1.2rem !important;
  }
}

@media (min-width: 576px) {
	.generated-image {
		max-width: 260px;
	}
	.accounts-info {
		font-size: 30px;
	}
}

@media (min-width: 768px) {
  .small-text {
    font-size: 1.35rem !important;
  }
}

@media (min-width: 992px) {
	.switch-size {
		width: 52px !important;
		height: 24px;
	}
}

@media (min-width: 1200px) {
	.generated-image {
		max-width: 330px;
	}
}

@media (min-width: 1400px) {
}
